{$DOMAIN} {
  encode zstd gzip

  @webhook path /api/mp/webhook
  handle @webhook {
    reverse_proxy clientezero-web:3000
  }

  handle_path /api/* {
    reverse_proxy clientezero-web:3000
  }

  handle_path /admin/* {
    reverse_proxy clientezero-web:3000
  }

  handle {
    reverse_proxy clientezero-web:3000
  }
}
